{{ define "clientupdate" }}
      <form>
      <div class="box">
      <h4>Client</h4>
        <label class="contained">First Name*:<input type="text" id="fname" value="{{ .Clientrec.Clt.Firstname }}" name="FirstName"></label>
        <label>Last Name*:<input type="text" id="lname" value="{{ .Clientrec.Clt.Lastname }}" name="LastName"></label>
        <label>DOB:<span class="invisible" id="datefmt">(yyyy-mm-dd)</span><input type="date" id="dob" value="{{ .Clientrec.Clt.DOB }}" name="dob"></label>
	<br>
        <label class="contained">Address:<input type="text" size="40" id="address" value="{{ .Clientrec.Clt.Address }}" name="Address"></label>
        <label class="contained">Cross-street:<input type="text" size="40" id="crossstreet" value="{{ .Clientrec.Clt.CrossStreet }}" name="CrossStreet"></label>
        <label>Apt:<input type="text" size="10" id="apt" value="{{ .Clientrec.Clt.Apt }}" name="apt"></label>
        <br>
        <label class="contained">Phone:<input type="text" size="15" id="phonenum" value="{{ .Clientrec.Clt.Phonenum }}" name="phonenum"></label>
        <label>Alt Phone:<input type="text" size="15" id="altphonenum" value="{{ .Clientrec.Clt.Altphonenum }}" name="altphonenum"></label>
        <label>Alt Phone Description:<input type="text" size="15" id="altphonedesc" value="{{ .Clientrec.Clt.Altphonedesc }}" name="altphonedesc"></label>
        <br>
        <label class="contained">Referred By:<select id="referred" name="referred">
            <option value="districtofc" {{ if eq "districtofc" .Clientrec.Clt.ReferredBy }} selected{{end}}>District Office</option>
            <option value="parish" {{ if eq "parish" .Clientrec.Clt.ReferredBy }} selected{{end}}>Parish</option>
            <option value="other" {{ if eq "other" .Clientrec.Clt.ReferredBy }} selected{{end}}>Other</option>
          </select>
        </label>
        <br>
        <label class="contained">Notes:<textarea rows="4" cols="40" id="notes">{{ .Clientrec.Clt.Notes }}</textarea></label>
        </div>
        <br>
	<div class="box">
        <h4>Household</h4>
        <label class="contained">Ethnicity:<select id="ethnicity" name="ethnicity">
            <option value="UNK" {{ if eq "UNK" .Clientrec.Clt.Ethnicity }} selected{{end}}>Unknown</option>
            <option value="W" {{ if eq "W" .Clientrec.Clt.Ethnicity }} selected{{end}}>Caucasian</option>
            <option value="B" {{ if eq "B" .Clientrec.Clt.Ethnicity }} selected{{end}}>Black</option>
            <option value="A" {{ if eq "A" .Clientrec.Clt.Ethnicity }} selected{{end}}>Asian</option>
            <option value="PI" {{ if eq "PI" .Clientrec.Clt.Ethnicity }} selected{{end}}>Pacific Islander</option>
            <option value="H" {{ if eq "H" .Clientrec.Clt.Ethnicity }} selected{{end}}>Hispanic or Latino</option>
            <option value="O" {{ if eq "O" .Clientrec.Clt.Ethnicity }} selected{{end}}>Mixed/Other</option>
          </select>
        </label>
        <br>
        <label class="contained">Adults - Males:<input type="text" size="5" id="adultmales" value="{{ .Clientrec.Clt.Adultmales }}" name="adultmales"></label>
        <label>Adults - Females:<input type="text" size="5" id="adultfemales" value="{{ .Clientrec.Clt.Adultfemales }}" name="adultfemales"></label>
	<table class="contained">
	  <thead>
            <tr><th colspan="4">Children</th></tr>
            <tr>
	      <th>Name</th><th>DOB</th><th>Gender</th><th>Remove</th>
	    </tr>
	  </thead>
          <tbody id="addlfammbrs">
	    {{ range $i, $fammbr := .Clientrec.Clt.Fammbrs }}
	      <tr>
	        <td><input type="text" id="fammbrnm{{ $i }}" name="fammbrnm{{ $i }}" value="{{ .Name }}"></td>
	        <td><input type="date" id="fammbrdob{{ $i }}" name="fammbrdob{{ $i }}" value="{{ .DOB }}"></td>
	        <td><label>Male<input type="radio" name="fammbrgender{{ $i }}" id="fammbrmale{{ $i }}" value="Male" {{ if not .Female }}checked="checked"{{end}}></label><label>Female<input type="radio" id="fammbrfemale{{ $i }}" name="fammbrgender{{ $i }}" value="Female" {{if .Female}}checked="checked"{{end}}></label></td>
                <td><input type="button" name="rmfammbr" id="rmfammbr{{ $i }}" value="Remove"></td>
              </tr>
	    {{ else }} 
	      <tr>
	        <td><input type="text" id="fammbrnm0" name="fammbrnm0" value=""></td>
	        <td><input type="date" id="fammbrdob0" name="fammbrdob0" value=""></td>
	        <td><label>Male<input type="radio" name="fammbrgender0" id="fammbrmale0" value="Male" checked=""></label><label>Female<input type="radio" id="fammbrfemale0" name="fammbrgender0" value="Female" checked="true"></label></td>
                <td><input type="button" name="rmfammbr" id="rmfammbr0" value="Remove"></td>
	      </tr>
	      <tr>
	        <td><input type="text" id="fammbrnm1" name="fammbrnm1" value=""></td>
	        <td><input type="date" id="fammbrdob1" name="fammbrdob1" value=""></td>
	        <td><label>Male<input type="radio" name="fammbrgender1" id="fammbrmale1" value="Male" checked=""></label><label>Female<input type="radio" id="fammbrfemale1" name="fammbrgender1" value="Female" checked="true"></label></td>
                <td><input type="button" name="rmfammbr" id="rmfammbr1" value="Remove"></td>
	      </tr>
            {{ end }}
            <tr><td colspan="4" class><input type="button" id="addfammbr" value="Add Another Child"></td></tr>
       </tbody>
	</table>
        </div>
        <br>
        <div class="box">
        <h4>Financials</h4>
	<table class="contained">
          <thead>
	    <tr>
              <th colspan="2">Monthly Income</th>
              <th colspan="2">Monthly Expenses</th>
            </tr>
          </thead>
          <tr>
            <td><input type="number" class="number" id="incfather" name="incfather" value="{{ .Clientrec.Clt.Financials.FatherIncome }}"></td>
            <td class="contained">Father's Income</td>
            <td><input  type="number" class="number" id="exprent" name="exprent" value="{{ .Clientrec.Clt.Financials.RentExpense }}"></td>
            <td>Rent (Section 8? <input type="checkbox" id="section8" name="section8"{{ if .Clientrec.Clt.Financials.Section8Voucher }} checked="checked"{{ end }}>)</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incmother" name="incmother" value="{{ .Clientrec.Clt.Financials.MotherIncome }}"></td>
            <td>Mother's Income</td>
            <td><input  type="number" class="number" id="exputilities" name="exputilities" value="{{ .Clientrec.Clt.Financials.UtilitiesExpense }}"></td>
            <td>Electricity/Gas</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incafdc" name="incafdc" value="{{ .Clientrec.Clt.Financials.AFDCIncome }}"></td>
            <td>AFDC</td>
            <td><input  type="number" class="number" id="expwater" name="expwater" value="{{ .Clientrec.Clt.Financials.WaterExpense }}"></td>
            <td>Water</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incga" name="incga" value="{{ .Clientrec.Clt.Financials.GAIncome }}"></td>
            <td>GA</td>
            <td><input  type="number" class="number" id="expphone" name="expphone" value="{{ .Clientrec.Clt.Financials.PhoneExpense }}"></td>
            <td>Phone</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incssi" name="incssi" value="{{ .Clientrec.Clt.Financials.SSIIncome }}"></td>
            <td>SSI</td>
            <td><input  type="number" class="number" id="expfood" name="expfood" value="{{ .Clientrec.Clt.Financials.FoodExpense }}"></td>
            <td>Food</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incui" name="incui" value="{{ .Clientrec.Clt.Financials.UnemploymentInsIncome }}"></td>
            <td>Unemployment Insurance</td>
            <td><input  type="number" class="number" id="expgas" name="expgas" value="{{ .Clientrec.Clt.Financials.GasExpense }}"></td>
            <td>Car Gas</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incsocsec" name="incsocsec" value="{{ .Clientrec.Clt.Financials.SocialSecurityIncome }}"></td>
            <td>Social Security</td>
            <td><input  type="number" class="number" id="expcarpmt" name="expcarpmt" value="{{ .Clientrec.Clt.Financials.CarPaymentExpense }}"></td>
            <td>Car Payment</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incalimony" name="incalimony" value="{{ .Clientrec.Clt.Financials.AlimonyIncome }}"></td>
            <td>Alimony</td>
            <td><input  type="number" class="number" id="exptvi" name="exptvi" value="{{ .Clientrec.Clt.Financials.TVInternetExpense }}"></td>
            <td>Cable TV/Internet</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incsupport" name="incsupport" value="{{ .Clientrec.Clt.Financials.ChildSupportIncome }}"></td>
            <td>Child Support</td>
            <td><input  type="number" class="number" id="expgarbage" name="expgarbage" value="{{ .Clientrec.Clt.Financials.GarbageExpense }}"></td>
            <td>Garbage</td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incother1" name="incother1" value="{{ .Clientrec.Clt.Financials.Other1Income }}"></td>
            <td><input  type="text" id="otherinctype1" name="otherinctype1" value="{{ .Clientrec.Clt.Financials.Other1IncomeType }}"></td>
            <td><input  type="number" class="number" id="expother1" name="expother1" value="{{ .Clientrec.Clt.Financials.Other1Expense }}"></td>
            <td><input  type="text" id="otherexptype1" name="otherexptype1" value="{{ .Clientrec.Clt.Financials.Other1ExpenseType }}"></td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incother2" name="incother2" value="{{ .Clientrec.Clt.Financials.Other2Income }}"></td>
            <td><input  type="text" id="otherinctype2" name="otherinctype2" value="{{ .Clientrec.Clt.Financials.Other2IncomeType }}"></td>
            <td><input  type="number" class="number" id="expother2" name="expother2" value="{{ .Clientrec.Clt.Financials.Other2Expense }}"></td>
            <td><input  type="text" id="otherexptype2" name="otherexptype2" value="{{ .Clientrec.Clt.Financials.Other2ExpenseType }}"></td>
          </tr>
          <tr>
            <td><input  type="number" class="number" id="incother3" name="incother3" value="{{ .Clientrec.Clt.Financials.Other3Income }}"></td>
            <td><input  type="text" id="otherinctype3" name="otherinctype3" value="{{ .Clientrec.Clt.Financials.Other3IncomeType }}"></td>
            <td><input  type="number" class="number" id="expother3" name="expother3" value="{{ .Clientrec.Clt.Financials.Other3Expense }}"></td>
            <td><input  type="text" id="otherexptype3" name="otherexptype3" value="{{ .Clientrec.Clt.Financials.Other3ExpenseType }}"></td>
          </tr>
          <tr>
            <td><input type="number" class="number" id="totalinc" name="inctotal" disabled="true" value="{{ .Clientrec.Clt.Financials.TotalIncome }}"></td>
            <td>Total Income</td>
            <td><input type="number" class="number" id="totalexp" name="exptotal" disabled="true" value="{{ .Clientrec.Clt.Financials.TotalExpense }}"></td>
            <td>Total Expenses</td>
          </tr>
        </table>
        </div>
        <br>
        <p id="status" class="hidden">Empty status</p>
        <input type="submit" id="submit" class="submit">
      </form>
  <script type="text/javascript" src="/js/json.js"></script>
  <script>
   $( document ).ready(function() {
    console.log( 'ready!' );
    function isAdd() {
      {{ if .Clientrec.Id }}
        return false;
      {{ else }}
        return true;
      {{ end }}
    }

    var clickedrm = function(evt) {
      var row = $( evt.target ).parentsUntil('tbody', 'tr');
      console.log('clickedrm row=', row);
      row.remove();
    }

    var clickedsubmit = function(evt) {
      var fname = $( 'input#fname' );
      var lname = $( 'input#lname' );
      var address = $( 'input#address' );
      var apt = $( 'input#apt' );
      var xstreet = $( 'input#crossstreet' );
      var dob = $( 'input#dob' );
      var phnum = $( 'input#phonenum' );
      var aphnum = $( 'input#altphonenum' );
      var aphdesc = $( 'input#altphonedesc' );
      var ethnicity = $( 'select#ethnicity' );
      var referred = $( 'select#referred' );
      var notes = $( 'textarea#notes' );
      var adultmales = $( 'input#adultmales' );
      var adultfemales = $( 'input#adultfemales' );

      var onlyWS = /^\s*$/; 
      if (onlyWS.test(fname.val())) {
        console.log('fname is whitespace-only'); 
        fname.addClass('error');
        var status = $( '#status' );
        status.text('First Name is empty, and cannot be');
        status.removeClass('hidden');
	return false;
      }
      else {
	fname.removeClass('error');
      }

      if (onlyWS.test(lname.val())) {
        console.log('lname is whitespace-only'); 
        lname.addClass('error');
        var status = $( '#status' );
        status.text('Last Name is empty, and cannot be');
        status.removeClass('hidden');
	return false;
      }
      else {
	lname.removeClass('error');
      }

      var client = {Firstname: fname.val(), Lastname: lname.val(), 
        Address: address.val(), CrossStreet: xstreet.val(), Apt: apt.val(),
        DOB: dob.val(), PhoneNum: phnum.val(), Altphonenum: aphnum.val(),
        Altphonedesc: aphdesc.val(), Ethnicity: ethnicity.val(),
        ReferredBy: referred.val(), Notes: notes.val(), 
        Adultmales: adultmales.val(), Adultfemales: adultfemales.val(),
        Fammbrs: []}
      var morembrs = true;
      var i = 0;
      while (morembrs) {
        var nm = $( 'input#fammbrnm' + i );
        if (nm.length) {
          if (nm.val() != "") {
	    var child = new Object();   
            child.Name = nm.val();   
	    var fdob = $( 'input#fammbrdob' + i );
	    if (nm.val() == 0) {i++;continue};
	    var ffml = $( 'input#fammbrfemale' + i );
	    if (fdob.length) {
	      child.DOB = fdob.val();   
	    }
	    if (ffml.length) {
	      child.Female = ffml[0].checked;
	    }
	    client.Fammbrs.push(child);
	  }
          i++;
	} else {
          morembrs = false;
        }
      }
      var fin = {
        FatherIncome: $( 'input#incfather' ).val(), 
        MotherIncome: $( 'input#incmother' ).val(), 
        AFDCIncome: $( 'input#incafdc' ).val(), 
        GAIncome: $( 'input#incga' ).val(), 
        SSIIncome: $( 'input#incssi' ).val(), 
        UnemploymentInsIncome: $( 'input#incui' ).val(), 
        SocialSecurityIncome: $( 'input#incsocsec' ).val(), 
        AlimonyIncome: $( 'input#incalimony' ).val(), 
        ChildSupportIncome: $( 'input#incsupport' ).val(), 
        Other1Income: $( 'input#incother1' ).val(), 
        Other1IncomeType: $( 'input#otherinctype1' ).val(), 
        Other2Income: $( 'input#incother2' ).val(), 
        Other2IncomeType: $( 'input#otherinctype2' ).val(), 
        Other3Income: $( 'input#incother3' ).val(), 
        Other3IncomeType: $( 'input#otherinctype3' ).val(), 
        RentExpense: $( 'input#exprent' ).val(), 
        Section8Voucher: $( 'input#section8' ).is(":checked"), 
        UtilitiesExpense: $( 'input#exputilities' ).val(), 
        WaterExpense: $( 'input#expwater' ).val(), 
        PhoneExpense: $( 'input#expphone' ).val(), 
        FoodExpense: $( 'input#expfood' ).val(), 
        GasExpense: $( 'input#expgas' ).val(), 
        CarPaymentExpense: $( 'input#expcarpmt' ).val(), 
        TVInternetExpense: $( 'input#exptvi' ).val(), 
        GarbageExpense: $( 'input#expgarbage' ).val(), 
        Other1Expense: $( 'input#expother1' ).val(), 
        Other1ExpenseType: $( 'input#otherexptype1' ).val(), 
        Other2Expense: $( 'input#expother2' ).val(), 
        Other2ExpenseType: $( 'input#otherexptype2' ).val(), 
        Other3Expense: $( 'input#expother3' ).val(), 
        Other3ExpenseType: $( 'input#otherexptype3' ).val(), 
	TotalIncome: $( 'input#totalinc' ).val(),
	TotalExpense: $( 'input#totalexp' ).val(),
      }

      client["Financials"] = fin;

      evt.preventDefault();
      $.ajax({
	{{ if .Clientrec.Id }}
        method: "PUT",
        url: "/api/client/{{ .Clientrec.Id}}",
	{{ else }}
        method: "POST",
        url: "/api/client",
	{{end}}
        processData: false,
        mimeType: "application/json",
        data: JSON.stringify(client)
})
  .done(function(  data, textStatus, jqXHR ) {
    var actiontext = isAdd() ? "added" : "updated";
    var status = $( '#status' );
    status.text('Successfully ' + actiontext + ' client ' + data.Clt.Firstname + ' ' 
      + data.Clt.Lastname + '!');
    status.append('<a href="/editclient/' + data.Id + '">(edit)</a>');
    status.append('<a href="/recordvisit/' + data.Id + '">(record visit)</a>');
    status.removeClass('hidden');
    if (isAdd()) {$( 'input#submit' ).addClass('hidden');}
  })
  .fail(function( jqXHR, textStatus, errorThrown ) {
    alert( "Oops! The server didn't like what you said: " + textStatus + ',' + errorThrown + JSON.stringify(jqXHR));
  });
    }

    var clickedadd = function(evt) {
      evt.preventDefault();
      console.log('clickedadd');
      var rows = $( '#addlfammbrs tr' );
      var newrownum = rows.length -1;
      var newrow = $( '<tr><td><input type="text" id="fammbrnm' + newrownum + 
        '" name="fammbrnm' + newrownum + '" value=""></td>' +
        '<td><input type="date" id="fammbrdob' + newrownum + 
        '" name="fammbrdob' + newrownum + '" value=""></td>' +
        '<td><label>Male<input type="radio" name="fammbrgender' + newrownum +
        '" id="fammbrmale' + newrownum + '" value="Male"' +
        'checked=""></label><label>Female<input type="radio" ' +
        'id="fammbrfemale' + newrownum + '" name="fammbrgender' + newrownum +
        '" value="Female" checked="checked"></label></td></tr>');
      var rm = $( '<input type="button" name="rmfammbr" value="Remove">' );
      rm.on('click', clickedrm);
      var rmcl = $( '<td></td>' ).append(rm);
      newrow.append(rmcl);
      rows.last().before(newrow);
    }

    var lostfocus = function(evt) {
      evt.preventDefault();
      var tgtj = $( 'input#' + evt.target.id );
      var val = evt.target.value;
      console.log('lostfocus: value is ' + val);
      var num = parseFloat(val);
      if (val != "" && Number.isNaN(num)) { 
        tgtj.addClass('error');
        console.log('lostfocus: NaN'); 
      } 
      else {
        tgtj.removeClass('error');
        tgtj.val(num.toFixed(2));
        var inc = 0, exp = 0;
        $( 'input[id^="inc"]').each(function(i, e) {
          inc += Number($( e ).val());
        });

        $( 'input[id^="exp"]').each(function(i, e) {
          exp += Number($( e ).val());
        });

        $( 'input#totalinc' ).val(inc.toFixed(2));
        $( 'input#totalexp' ).val(exp.toFixed(2));
      }
    }


    $( 'input#submit' ).val(isAdd() ? "Add" : "Update");
    $( 'input#submit' ).on('click', clickedsubmit);
    $( 'input#addfammbr' ).on('click', clickedadd);
    $( 'input[name="rmfammbr"]' ).on('click', clickedrm);
    $( 'input[name^="inc"]' ).on('focusout', lostfocus);
    $( 'input[name^="exp"]' ).on('focusout', lostfocus);

    if (!browserSupportsDateInput()) {
      console.log("trying to un-hide datefmt");
      var lbl = $(' span#datefmt ');
      lbl.removeClass("invisible");
    }

      });
  </script>
{{end}}
