<!DOCTYPE html>
<html>
  <title>St. Vincent de Paul (St. Charles Borromeo Conference) Clients</title>
  {{ template "scripts" }}
  <body class="main">
   {{ template "header" . }}
    <table>
      <tr><td>Clients</td></tr>
      {{ range $i, $clt := .Clients }}
        <tr>
          <td><a href="/client/{{ .Id }}">{{ .Clt.Lastname }}, {{ .Clt.Firstname }}</a></td>
          <td><a href="/recordvisit/{{ .Id }}">(record visit)</a></td>
        </tr>
      {{ end }}
    </table>
  </body>
</html>
