<html>
  <title>St. Vincent de Paul (St. Charles Borromeo Conference) Record Client Visit</title>
{{ template "scripts" }}
  <body class="main">
    {{ template "header" . }}
    <p id="status" class="hidden">Empty status</p>
    <h4>Client</h4>
    Name: <a id="viewclient" href="">{{ .Client.Firstname }} {{ .Client.Lastname }}</a>
    <br>
    Address: {{ .Client.Address }} {{ .Client.Apt }}
    <br>

   <h4>Visit</h4>
   <form>
     <label>Vincentians:<input type="text" id="vincentians" value="" name="Vincentians"></label>
      <label>Visit Date:<input type="date" id="visitdate" value="" name="visitdate"></label>
      <label>Assistance Requested:<input type="text" id="assistancerequested" value="" name="assistancerequested"></label>
      <label>Gift Card Amount:<input type="text" id="giftcardamt" value="" name="giftcardamt"></label>
      <label>Num Bags/Boxes of Food:<input type="text" id="numfoodboxes" value="" name="numfoodboxes"></label>
      <label>Rent Assistance:<input type="text" id="rentassistance" value="" name="rentassistance"></label>
      <label>Utilities Assistance:<input type="text" id="utilitiesassistance" value="" name="utilitiesassistance"></label>
      <label>Water bill assistance:<input type="text" id="waterbillassistance" value="" name="waterbillassistance"></label>
      <label>Other assistance - type:<input type="text" id="otherassistancetype" value="" name="otherassistancetype"></label>
      <label>Other assistance - amount:<input type="text" id="otherassistanceamt" value="" name="otherassistanceamt"></label>
      <label>Vouchers - clothing:<input type="text" id="vouchersclothing" value="" name="vouchersclothing"></label>
      <label>Vouchers - furniture:<input type="text" id="vouchersfurniture" value="" name="vouchersfurniture"></label>
      <label>Vouchers - other:<input type="text" id="vouchersother" value="" name="vouchersother"></label>
      <label>Comment:<input type="text" id="comment" value="" name="comment"></label>
     <br>
     <input type="submit" id="submit">
   </form> 

  <script>
   $( document ).ready(function() {
    console.log( 'ready!' );

    var path = location.pathname.split("/");
    clientId = path[2];
    console.log("clientId=" + clientId);

    var clickedsubmit = function(evt) {

      var visit = {
        Vincentians: $( 'input#vincentians' ).val(),
        Visitdate: $( 'input#visitdate' ).val(),
        Assistancerequested: $( 'input#assistancerequested' ).val(),
        Giftcardamt: $( 'input#giftcardamt' ).val(),
        Numfoodboxes: $( 'input#numfoodboxes' ).val(),
        Rentassistance: $( 'input#rentassistance' ).val(),
        Utilitiesassistance: $( 'input#utilitiesassistance' ).val(),
        Waterbillassistance: $( 'input#waterbillassistance' ).val(),
        Otherassistancetype: $( 'input#otherassistancetype' ).val(),
        Otherassistanceamt: $( 'input#otherassistanceamt' ).val(),
        Vouchersclothing: $( 'input#vouchersclothing' ).val(),
        Vouchersfurniture: $( 'input#vouchersfurniture' ).val(),
        Vouchersother: $( 'input#vouchersother' ).val(),
        Comment: $( 'input#comment' ).val(),
      }

      evt.preventDefault();
      $.ajax({
        method: "PUT",
        url: "/api/visit/" + clientId,
        processData: false,
        mimeType: "application/json",
        data: JSON.stringify(visit)
})
  .done(function(  data, textStatus, jqXHR ) {
    $( '#status' ).text('successfully added visit for  client ').removeClass('hidden');
  })
  .fail(function( jqXHR, textStatus, errorThrown ) {
    alert( "failure: " + textStatus + ',' + errorThrown + JSON.stringify(jqXHR));
  });
    }

    $( 'input#submit' ).on('click', clickedsubmit);
    $( 'a#viewclient' ).attr('href', '/client/' + clientId);

    });
  </script>
  </body>
</html>
