<html>
  <title>St. Vincent de Paul (St. Charles Borromeo Conference) Record Client Visit</title>
{{ template "scripts" }}
  <body class="main">
    {{ template "header" . }}
    <div class="box">
    <h4>Client</h4>
    <span class="contained">Name:</span> <a id="viewclient" href="">{{ .Client.Firstname }} {{ .Client.Lastname }}</a>
    <br>
    <span class="contained">Address: {{ .Client.Address }} ({{ .Client.CrossStreet }}) {{ .Client.Apt }}</span>
    <br>
    </div>
    <br>

   <div class="box">
   <h4>Visit</h4>
   <form>
     <table class="contained">
     <tr>
     <td>Vincentians:</td><td><input type="text" id="vincentians" value="" name="Vincentians"></td>
     </tr>
     <tr>
      <td>Visit Date:</td><td><input type="date" id="visitdate" value="" name="visitdate"></td>
     </tr>
     <tr>
      <td>Assistance Requested:</td><td><input type="text" id="assistancerequested" value="" name="assistancerequested"></td>
     </tr>
     <tr>
      <td>Gift Card Amount:</td><td><input type="text" id="giftcardamt" value="" name="giftcardamt"></td>
     </tr>
     <tr>
      <td>Number Bags/Boxes of Food:</td><td><input type="text" id="numfoodboxes" value="" name="numfoodboxes"></td>
     </tr>
     <tr>
      <td>Rent Assistance:</td><td><input type="text" id="rentassistance" value="" name="rentassistance"></td>
     </tr>
     <tr>
      <td>Utilities Assistance:</td><td><input type="text" id="utilitiesassistance" value="" name="utilitiesassistance"></td>
     </tr>
     <tr>
      <td>Water bill assistance:</td><td><input type="text" id="waterbillassistance" value="" name="waterbillassistance"></td>
     </tr>
     <tr>
      <td>Other assistance - type:</td><td><input type="text" id="otherassistancetype" value="" name="otherassistancetype"></td>
     </tr>
     <tr>
      <td>Other assistance - amount:</td><td><input type="text" id="otherassistanceamt" value="" name="otherassistanceamt"></td>
     </tr>
     <tr>
      <td>Vouchers - clothing:</td><td><input type="text" id="vouchersclothing" value="" name="vouchersclothing"></td>
     </tr>
     <tr>
      <td>Vouchers - furniture:</td><td><input type="text" id="vouchersfurniture" value="" name="vouchersfurniture"></td>
     </tr>
     <tr>
      <td>Vouchers - other:</td><td><input type="text" id="vouchersother" value="" name="vouchersother"></td>
     </tr>
     <tr>
      <td>Comment:</td><td><input type="text" id="comment" value="" name="comment"></td>
     </tr>
     </table>
     </div>
     <br>
    <p id="status" class="hidden">Empty status</p>
     <input type="submit" id="submit" class="submit">
   </form> 

  <script>
   $( document ).ready(function() {
    console.log( 'ready!' );

    var path = location.pathname.split("/");
    clientId = path[2];
    console.log("clientId=" + clientId);

    var clickedsubmit = function(evt) {

      var visit = {
        Vincentians: $( 'input#vincentians' ).val(),
        Visitdate: $( 'input#visitdate' ).val(),
        Assistancerequested: $( 'input#assistancerequested' ).val(),
        Giftcardamt: $( 'input#giftcardamt' ).val(),
        Numfoodboxes: $( 'input#numfoodboxes' ).val(),
        Rentassistance: $( 'input#rentassistance' ).val(),
        Utilitiesassistance: $( 'input#utilitiesassistance' ).val(),
        Waterbillassistance: $( 'input#waterbillassistance' ).val(),
        Otherassistancetype: $( 'input#otherassistancetype' ).val(),
        Otherassistanceamt: $( 'input#otherassistanceamt' ).val(),
        Vouchersclothing: $( 'input#vouchersclothing' ).val(),
        Vouchersfurniture: $( 'input#vouchersfurniture' ).val(),
        Vouchersother: $( 'input#vouchersother' ).val(),
        Comment: $( 'input#comment' ).val(),
      }

      evt.preventDefault();
      $.ajax({
        method: "PUT",
        url: "/api/visit/" + clientId,
        processData: false,
        mimeType: "application/json",
        data: JSON.stringify(visit)
})
  .done(function(  data, textStatus, jqXHR ) {
    $( '#status' ).text('Successfully recorded visit for client!').removeClass('hidden');
  })
  .fail(function( jqXHR, textStatus, errorThrown ) {
    alert( "failure: " + textStatus + ',' + errorThrown + JSON.stringify(jqXHR));
  });
    }

    $( 'input#submit' ).val('Record Visit');
    $( 'input#submit' ).on('click', clickedsubmit);
    $( 'a#viewclient' ).attr('href', '/client/' + clientId);

    });
  </script>
  </body>
</html>
