{{ define "visitupdate" }}
    <div class="box">
    <h4>Client</h4>
    <span class="contained">Name:</span> <a id="viewclient" href="">{{ .Client.Firstname }} {{ .Client.Lastname }}</a>
    <br>
    <span class="contained">Address: {{ .Client.Address }} ({{ .Client.CrossStreet }}) {{ .Client.Apt }}</span>
    <br>
    </div>
    <br>

   <div class="box">
   <h4>Visit</h4>
   <form>
     <table class="contained">
     <tr>
     <td>Vincentians*:</td><td><input type="text" id="vincentians" value="{{ .Visit.Vincentians }}" name="Vincentians"></td>
     </tr>
     <tr>
      <td>Visit Date*:<span class="invisible" id="datefmt">(yyyy-mm-dd)</span></td><td><input type="date" id="visitdate" value="{{ .Visit.Visitdate }}" name="visitdate">
          <a href="javascript:visitedtoday();">(Today)</a>     
     </td>
     </tr>
     <tr>
      <td>Assistance Requested:</td><td><input type="text" id="assistancerequested" value="{{ .Visit.Assistancerequested }}" name="assistancerequested"></td>
     </tr>
     <tr>
      <td>Gift Card Amount:</td><td><input type="number" class="number" id="giftcardamt" value="{{ .Visit.Giftcardamt }}" name="giftcardamt"></td>
     </tr>
     <tr>
      <td>Number Bags/Boxes of Food:</td><td><input type="number" class="number" id="numfoodboxes" value="{{ .Visit.Numfoodboxes }}" name="numfoodboxes"></td>
     </tr>
     <tr>
      <td>Rent Assistance:</td><td><input type="number" class="number" id="rentassistance" value="{{ .Visit.Rentassistance }}" name="rentassistance"></td>
     </tr>
     <tr>
      <td>Utilities Assistance:</td><td><input type="number" class="number" id="utilitiesassistance" value="{{ .Visit.Utilitiesassistance }}" name="utilitiesassistance"></td>
     </tr>
     <tr>
      <td>Water bill assistance:</td><td><input type="number" class="number" id="waterbillassistance" value="{{ .Visit.Waterbillassistance }}" name="waterbillassistance"></td>
     </tr>
     <tr>
      <td>Other assistance - type:</td><td><input type="text" id="otherassistancetype" value="{{ .Visit.Otherassistancetype }}" name="otherassistancetype"></td>
     </tr>
     <tr>
      <td>Other assistance - amount:</td><td><input type="number" class="number" id="otherassistanceamt" value="{{ .Visit.Otherassistanceamt }}" name="otherassistanceamt"></td>
     </tr>
     <tr>
      <td>Vouchers - clothing:</td><td><input type="number" class="number" id="vouchersclothing" value="{{ .Visit.Vouchersclothing }}" name="vouchersclothing"></td>
     </tr>
     <tr>
      <td>Vouchers - furniture:</td><td><input type="number" class="number" id="vouchersfurniture" value="{{ .Visit.Vouchersfurniture }}" name="vouchersfurniture"></td>
     </tr>
     <tr>
      <td>Vouchers - other:</td><td><input type="number" class="number" id="vouchersother" value="{{ .Visit.Vouchersother }}" name="vouchersother"></td>
     </tr>
      <td>Deleted:</td><td> <input type="checkbox" id="deleted"{{ if .Visit.Deleted }} checked="checked"{{ end }}></td>
     </tr>
     <tr>
      <td>Comment:</td><td><textarea id="comment" name="comment" cols="50">{{ .Visit.Comment }}</textarea></td>
     </tr>
     </table>
     </div>
     {{ if .Updates }}
       <br>
       <br>
       <div class="box">
         <h4>Updates</h4>
         <table class="contained">
           <thead>
             <th>User</th>
	     <th>When</th>
           </thead>
           <tbody> 
             {{ range $i, $update := .Updates }}
               <tr>
                 <td>{{ .User }}</td>
	         <td>{{ .When }}</td>
               </tr>
             {{ end }}
           </tbody>
         </table>
       </div>
     {{ end }}
     <br>
    <p id="status" class="hidden">Empty status</p>
     <input type="submit" id="submit" class="submit">
   </form> 

  <script>
   $( document ).ready(function() {
    console.log( 'ready!' );
    var visitId = null
    var path = location.pathname.split("/");
    clientId = path[2];
    console.log("clientId=" + clientId);
    if (path.length > 2) {
      visitId = path[3];
    }
    console.log("visitId=" + visitId);

    url = "/api/visit/" + clientId;
    if (visitId != null) {
      url += "/" + visitId + "/edit"
    }
    console.log("url = " + url);

    var clickedsubmit = function(evt) {

      var visitdate = $( 'input#visitdate' );
      var vincentians = $( 'input#vincentians' );

      var onlyWS = /^\s*$/; 
      if (onlyWS.test(visitdate.val())) {
        console.log('visitdate is whitespace-only'); 
        visitdate.addClass('error');
        var status = $( '#status' );
        status.text('Visit Date is empty, and cannot be');
        status.removeClass('hidden');
        return false;
      }
      else {
        visitdate.removeClass('error');
      }

      if (onlyWS.test(vincentians.val())) {
        console.log('vincentians is whitespace-only'); 
        vincentians.addClass('error');
        var status = $( '#status' );
        status.text('Vincentians is empty, and cannot be');
        status.removeClass('hidden');
        return false;
      }
      else {
        vincentians.removeClass('error');
      }

      var visit = {
        Vincentians: vincentians.val(),
        Visitdate: visitdate.val(),
        Assistancerequested: $( 'input#assistancerequested' ).val(),
        Giftcardamt: $( 'input#giftcardamt' ).val(),
        Numfoodboxes: $( 'input#numfoodboxes' ).val(),
        Rentassistance: $( 'input#rentassistance' ).val(),
        Utilitiesassistance: $( 'input#utilitiesassistance' ).val(),
        Waterbillassistance: $( 'input#waterbillassistance' ).val(),
        Otherassistancetype: $( 'input#otherassistancetype' ).val(),
        Otherassistanceamt: $( 'input#otherassistanceamt' ).val(),
        Vouchersclothing: $( 'input#vouchersclothing' ).val(),
        Vouchersfurniture: $( 'input#vouchersfurniture' ).val(),
        Vouchersother: $( 'input#vouchersother' ).val(),
        Deleted: $( 'input#deleted' ).is(":checked"),
        Comment: $( 'textarea#comment' ).val(),
      }

      evt.preventDefault();
      $.ajax({
        method: "PUT",
        url: url,
        processData: false,
        mimeType: "application/json",
        data: JSON.stringify(visit)
})
  .done(function(  data, textStatus, jqXHR ) {
    $( '#status' ).text('Successfully ' + (visitId == null ? 'recorded' : 'updated') + ' visit for client!').removeClass('hidden');
    $( 'input#submit' ).addClass('hidden');
  })
  .fail(function( jqXHR, textStatus, errorThrown ) {
    alert( "Oops! The web server didn't like what you said: " + textStatus + ',' + errorThrown + JSON.stringify(jqXHR));
  });
    }

    $( 'input#submit' ).val(visitId == null ? 'Record Visit' : 'Update Visit');
    $( 'input#submit' ).on('click', clickedsubmit);
    $( 'a#viewclient' ).attr('href', '/client/' + clientId);
    var cmt = $( 'textarea#comment' )[0];
    var len = cmt.value.length;
    console.log("len=" + len);  
    cmt.rows = len > 0 ? Math.ceil(len / cmt.cols) : 1;

    var lostfocus = function(evt) {
      evt.preventDefault();
      var tgtj = $( 'input#' + evt.target.id );
      var val = evt.target.value;
      console.log('lostfocus: value is ' + val);
      var num = parseFloat(val);
      if (val != "" && Number.isNaN(num)) { 
        tgtj.addClass('error');
        console.log('lostfocus: NaN'); 
      } 
      else {
        tgtj.removeClass('error');
        tgtj.val(num.toFixed(2));
      }
    }

    $( 'input#giftcardamt' ).on('focusout', lostfocus);
    $( 'input#rentassistance' ).on('focusout', lostfocus);
    $( 'input#utilitiesassistance' ).on('focusout', lostfocus);
    $( 'input#waterbillassistance' ).on('focusout', lostfocus);
    $( 'input#otherassistanceamt' ).on('focusout', lostfocus);
    $( 'input#vouchersclothing' ).on('focusout', lostfocus);
    $( 'input#vouchersfurniture' ).on('focusout', lostfocus);
    $( 'input#vouchersother' ).on('focusout', lostfocus);

    if (!browserSupportsDateInput()) {
      console.log("trying to un-hide datefmt");
      var lbl = $(' span#datefmt ');
      lbl.removeClass("invisible");
    }
    });
    function visitedtoday() {
        today = new Date();
        day = today.getDate();
        if (day < 10) { day = "0" + day;}
        month = parseFloat(today.getMonth() + 1);
        if (month < 10) { month = "0" + month;}

	$(' input#visitdate' ).val(today.getFullYear() + '-' + month + '-' + day);
    }
  </script>
{{ end }}
